<?xml version="1.0"?>
<config>
    <modules>
        <Techtwo_FeedbackReview>
            <version>0.0.1</version>
        </Techtwo_FeedbackReview>
    </modules>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<feedbackreview translate="title" module="techtwo_feedbackreview">
											<title>Feedback Company reviews</title>
										</feedbackreview>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
    </adminhtml>
    <global>
        <helpers>
            <techtwo_feedbackreview>
                <class>Techtwo_FeedbackReview_Helper</class>
            </techtwo_feedbackreview>
        </helpers>
        <blocks>
            <techtwo_feedbackreview>
                <class>Techtwo_FeedbackReview_Block</class>
            </techtwo_feedbackreview>
        </blocks>
        <models>
            <techtwo_feedbackreview>
                <class>Techtwo_FeedbackReview_Model</class>
            </techtwo_feedbackreview>
        </models>
        <events>
            <adminhtml_cache_flush_system>
                <observers>
                    <techtwo_feedbackreview_observer>
                        <type>singleton</type>
                        <class>Techtwo_FeedbackReview_Model_Observer</class>
                        <method>flush_cache</method>
                    </techtwo_feedbackreview_observer>
                </observers>
            </adminhtml_cache_flush_system>
            <adminhtml_cache_flush_all>
                <observers>
                    <techtwo_feedbackreview_observer>
                        <type>singleton</type>
                        <class>Techtwo_FeedbackReview_Model_Observer</class>
                        <method>flush_cache</method>
                    </techtwo_feedbackreview_observer>
                </observers>
            </adminhtml_cache_flush_all>
        </events>
    </global>
    <default>
        <feedbackreview>
            <general>
                <review_url>http://beoordelingen.feedbackcompany.nl/samenvoordeel/scripts/flexreview/getreviewxml.cfm</review_url>
            </general>
            <vars>
                <basescore>10</basescore>
                <publishdetails>1</publishdetails>
                <nor>50</nor>
            </vars>
        </feedbackreview>
    </default>
    <frontend>
        <routers>
            <techtwo_feedbackreview>
                <use>standard</use>
                <args>
                    <module>Techtwo_FeedbackReview</module>
                    <frontName>reviews</frontName>
                </args>
            </techtwo_feedbackreview>
        </routers>
        <layout>
            <updates>
                <techtwo_feedbackreview>
                    <file>feedbackreview.xml</file>
                </techtwo_feedbackreview>
            </updates>
        </layout>
        <translate>
            <modules>
                <Techtwo_FeedbackReview>
                    <files>
                        <default>Techtwo_FeedbackReview.csv</default>
                    </files>
                </Techtwo_FeedbackReview>
            </modules>
        </translate>
    </frontend>
</config>
