<?xml version="1.0"?>
<config>
    <modules>
        <Helios_Omniafeed>
            <version>1.0.0</version>
        </Helios_Omniafeed>
    </modules>
    <global>
        <helpers>
            <omniafeed>
                <class>Helios_Omniafeed_Helper</class>
            </omniafeed>
        </helpers>
        <models>
            <omniafeed>
                <class>Helios_Omniafeed_Model</class>
                <resourceModel>omniafeed_mysql4</resourceModel>
            </omniafeed>
            <feed>
                <class>Helios_Omniafeed_Model</class>
                <resourceModel>omniafeed_mysql4</resourceModel>
            </feed>
            <potentialcount>
                <class>Helios_Omniafeed_Model</class>
                <resourceModel>potentialcount_resource</resourceModel>
            </potentialcount>
            <potentialcount_resource>
                <class>Helios_Omniafeed_Model_Resource</class>
                <entities>
                  <potentialcount>
                    <table>sales_product_potential</table>
                  </potentialcount>
                </entities>
            </potentialcount_resource>
        </models>
        <resources>
            <omniafeed_setup>
                <setup>
                    <module>Helios_Omniafeed</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </omniafeed_setup>
            <omniafeed_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </omniafeed_write>
            <omniafeed_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </omniafeed_read>
        </resources>
    </global>
    <crontab>
        <jobs>
            <!--omniafeed_generateominafeed>
                <schedule>
                    <cron_expr>0 0 * * 0</cron_expr>
                </schedule>
                <run>
                    <model>omniafeed/cron::generateOminaFeed</model>
                </run>
            </omniafeed_generateominafeed-->
            <omniafeed_googlefeed>
                <schedule><cron_expr>0 6 * * *</cron_expr></schedule>
                <run>
                    <model>omniafeed/cron::generateGoogleFeed</model>
                </run>
            </omniafeed_googlefeed>
            <omniafeed_potentialcalculation>
                <schedule><cron_expr>0 20 */15 * *</cron_expr></schedule>
                <run>
                    <model>omniafeed/cron::generatePotentialCalculation</model>
                </run>
            </omniafeed_potentialcalculation>
        </jobs>
    </crontab>
</config> 