<?xml version="1.0"?>
<config>
	<modules>
		<Hs_Pickuplocation>
			<version>1.0</version>
		</Hs_Pickuplocation>
	</modules>
	<global>
		<models>
			<hs_pickuplocation>
				<class>Hs_Pickuplocation_Model</class>
				<resourceModel>pickuplocation_mysql4</resourceModel>
			</hs_pickuplocation>
		</models>
		<helpers>
			<hs_pickuplocation>
				<class>Hs_Pickuplocation_Helper</class>
			</hs_pickuplocation>
		</helpers>
		<resources>
			<pickuplocation_setup>
				<setup>
					<module>Hs_Pickuplocation</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</pickuplocation_setup>
			<pickuplocation_write>
				<connection>
					<use>core_write</use>
				</connection>
			</pickuplocation_write>
			<pickuplocation_read>
				<connection>
					<use>core_read</use>
				</connection>
			</pickuplocation_read>
		</resources>
		<fieldsets>
			<sales_convert_quote_address>
				<qls_servicepoint_code>
					<to_order_address>*</to_order_address>
				</qls_servicepoint_code>
			</sales_convert_quote_address>
			<sales_convert_order_address>
				<qls_servicepoint_code>
					<to_quote_address>*</to_quote_address>
				</qls_servicepoint_code>
			</sales_convert_order_address>
		</fieldsets>
	</global>
	<adminhtml>
		<translate>
			<modules>
				<Mage_Adminhtml>
					<files>
						<hs_pickuplocation>Hs_Pickuplocation.csv</hs_pickuplocation>
					</files>
				</Mage_Adminhtml>
			</modules>
		</translate>
	</adminhtml>
	<frontend>
		<translate>
			<modules>
				<Hs_Pickuplocation>
					<files>
						<default>Hs_Pickuplocation.csv</default>
					</files>
				</Hs_Pickuplocation>
			</modules>
		</translate>
		<events>
			<sales_convert_quote_to_order>
				<observers>
					<convert_quote_to_order_observer>
						<class>Hs_Pickuplocation_Model_Observer</class>
						<method>salesConvertQuoteToOrder</method>
					</convert_quote_to_order_observer>
				</observers>
			</sales_convert_quote_to_order>
			<checkout_controller_onepage_save_shipping_method>
				<observers>
					<save_shipping_observer>
						<class>Hs_Pickuplocation_Model_Observer</class>
						<method>checkoutControllerOnepageSaveShippingMethod</method>
					</save_shipping_observer>
				</observers>
			</checkout_controller_onepage_save_shipping_method>
		</events>
	</frontend>
	<default>
		<carriers>
			<hs_pickuplocation>
				<active>1</active>
				<sallowspecific>1</sallowspecific>
				<model>hs_pickuplocation/pickup</model>
				<name>Pickup Location</name>
				<title>QLS Pickup Location</title>
			</hs_pickuplocation>
		</carriers>
	</default>
</config>