#live-data
/var/
!/var/.htaccess
!/var/.resource_config.json

#server-config


#development
/nbproject/
/.idea/

#sitemaps
/googlesitemap/
/sitemap/
/sitemap.xml
/sitemap-cat.xml
/sitemap-cms.xml
/sitemap-product.xml
/sitemap.xml

#local-data
/*.htaccess*
/.htpasswd
/*downloader*/.cache/*
/csv_product_info.csv
/BingSiteAuth.xml
/dapter_price_feed.xml
/general_feed.xml
/general_feed_dev.xml
/general_feed_sli.xml
/general_feed_category.xml
/getreviewxml.xml

#miscellaneous
/monthwise/
/includes/src/
/others/*
/debter/*
!/debter/*.php
/bestseller/*
!/bestseller/*.php
/get.php
/phpinfo.php
/*test.php*
/*feed*.xml
/*.xml*
/*.sql
/*.sql.*
/*.zip
/*.zip.*
/*.tar
/*.csv
/*.xls
/*.xlsx
/*.json

#media-folder
/media/js/
/media/css/
/media/css_secure/
/media/tmp/
/media/customer/
/media/dhl/
/media/downloadable/
/media/import/
/media/xmlconnect/
/media/productsfeed/
/media/catalog/product/

#wordpress-blog
/blog/.htaccess
/blog/sitemap.xml
/blog/sitemap.xml.gz
/blog/wp-config.php
/blog/wp-content/cache/
/blog/wp-content/upgrade/
/blog/wp-content/backupwordpress-c394c5974f-backups/
/blog/wp-content/uploads_old_22_4/
/blog/wp-snapshots/

#magmi
/magmi/

#Amasty FPC Config
app/etc/z_amfpclocal.xml

#SLI Script ignore from git to have files based on environment
skin/frontend/base/default/js/sli
skin/frontend/base/default/css/sli
skin/frontend/gyzs/default/js/sli
skin/frontend/gyzs/default/css/sli
skin/frontend/default/default/js/sli
skin/frontend/default/default/css/sli

#Sheep_Debug Module files
app/etc/modules/Sheep_Debug.xml
app/code/community/Sheep/
app/design/adminhtml/default/default/layout/sheep_debug.xml
app/design/adminhtml/default/default/template/sheep_debug/
app/design/frontend/base/default/layout/sheep_debug.xml
app/design/frontend/base/default/template/sheep_debug/
skin/adminhtml/default/default/sheep_debug/
skin/frontend/base/default/sheep_debug/

#Sheep_Debug Module Skin files
skin/frontend/base/default/css/idea.css
skin/frontend/base/default/css/profile.css
skin/frontend/base/default/css/profile_overwrites.css
skin/frontend/base/default/css/toolbar.css
skin/frontend/base/default/js/highlight.pack.js
skin/frontend/base/default/js/profile.js
skin/frontend/base/default/js/toolbar.js

#smtp pro extension disabled
app/code/local/Aschroder/
app/design/adminhtml/base/default/template/smtppro/
app/etc/modules/Aschroder_SMTPPro.xml
app/locale/de_DE/Aschroder_SMTPPro.csv
app/locale/en_US/Aschroder_SMTPPro.csv
app/locale/es_ES/Aschroder_SMTPPro.csv
app/locale/fr_FR/Aschroder_SMTPPro.csv
app/locale/nl_NL/Aschroder_SMTPPro.csv
app/locale/pt_BR/Aschroder_SMTPPro.csv
app/locale/tr_TR/Aschroder_SMTPPro.csv
