<?xml version="1.0"?>
<config>
    <global>
        <modules>
            <dutchworld_directcontact>
                <version>0.1.0</version>
            </dutchworld_directcontact>
        </modules>

        <blocks>
            <directcontact>
                <rewrite>
                    <directcontact>Dutchworld_Directcontact_Block_Directcontact</directcontact>
                </rewrite>
                <!-- <class>Dutchworld_Directcontact_Block</class> -->
            </directcontact>
        </blocks>
        
        <models>
            <directcontact>
                <class>Dutchworld_Directcontact_Model</class>
            </directcontact>
        </models>
        <resources>
            <directcontact_setup>
                <setup>
                    <module>Dutchworld_Directcontact</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </directcontact_setup>
            <directcontact_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </directcontact_write>
            <directcontact_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </directcontact_read>
        </resources>
        <!--
        <rewrite>
            <dutchworld_directcontact_sendmail>
                <from><![CDATA[#^/directcontact/sendmail/#]]></from>
                <to>/directcontact/sendmail/</to>
            </dutchworld_directcontact_sendmail>
        </rewrite>
        -->
        <helpers>
            <dutchworld_directcontact>
                <class>Dutchworld_Directcontact_Helper</class>
            </dutchworld_directcontact>
        </helpers>

        <template>
            <email>
                <contacts_directcontact_dc_email_template translate="label" module="dutchworld_directcontact">
                    <label>Directcontact Request</label>
                    <file>directcontact_contact.html</file>
                    <type>html</type>
                </contacts_directcontact_dc_email_template>
            </email>
        </template>
    </global>
    <frontend>
        <translate>
            <modules>
                <Dutchworld_Directcontact>
                    <files>
                        <default>Dutchworld_Directcontact.csv</default>
                    </files>
                </Dutchworld_Directcontact>
            </modules>
        </translate>
        <routers>
            <directcontact>
                <use>standard</use>
                <args>
                    <module>Dutchworld_Directcontact</module>
                    <frontName>directcontact</frontName>
                </args>
            </directcontact>
        </routers>
        <layout>
            <updates>
                <directcontact>
                    <file>directcontact.xml</file>
                </directcontact>
            </updates>
        </layout>
    </frontend>
    <default>
        <dutchworld_directcontact>
            <contacts>
                <notification>
                    <dc_sender_identity>general</dc_sender_identity>
                    <subscribe_by_default>1</subscribe_by_default>
                    <dc_email_template>contacts_directcontact_dc_email_template</dc_email_template>
                </notification>
            </contacts>
        </dutchworld_directcontact>
        <contacts>
            <directcontact>
                <active>1</active>
                <model>directcontact/directcontactMethod</model>
                <facebook></facebook>
                <youtube></youtube>
            </directcontact>
        </contacts>
    </default>
</config>