<?xml version="1.0"?>
<config>
    <modules>
        <Jaagers_Price>
            <version>0.1.0</version>
        </Jaagers_Price>
    </modules>

    <frontend>
        <routers>
            <price>
                <use>standard</use>
                <args>
                    <module>Jaagers_Price</module>
                    <frontName>price</frontName>
                </args>
            </price>
        </routers>
        <!-- <layout>
       <updates>
          <ordermanager>
              <file>ordermanager.xml</file>
        </ordermanager>
        </updates>
    </layout> -->
    </frontend>

    <global>
        <models>
            <price>
                <class>Jaagers_Price_Model</class>
                <resourceModel>price_mysql4</resourceModel>
            </price>
            <price_mysql4>
                <class>Jaagers_Price_Model_Mysql4</class>
                <entities>
                    <price>
                        <table>combipac_cache</table>
                    </price>
                </entities>
            </price_mysql4>
            <catalog>
                <rewrite>
                    <product_type_price>Jaagers_Price_Model_Product_Type_Price</product_type_price>
                </rewrite>
            </catalog>
        </models>
        <blocks>
            <jaggers_price>
                <class>Jaagers_Price_Block</class>
            </jaggers_price>
            <catalog>
                <rewrite>
                    <product_price>Jaagers_Price_Block_Product_Price</product_price>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <price>
                <class>Jaagers_Price_Helper</class>
            </price>
        </helpers>
        <events>
            <customer_login>
                <observers>
                    <helios_cart_customer_login_observer>
                        <type>model</type>
                        <class>price/observer</class>
                        <method>customerLogin</method>
                    </helios_cart_customer_login_observer>
                </observers>
            </customer_login>
            <sales_quote_merge_before>
                <observers>
                    <helios_debterprice_observer>
                        <type>model</type>
                        <class>price/observer</class>
                        <method>quoteMerge</method>
                    </helios_debterprice_observer>
                </observers>
            </sales_quote_merge_before>
        </events>
    </global>
</config>