<?xml version="1.0"?>
<config>
    <modules>
        <Hs_Transsmartadjustment>
            <version>0.1.0</version>
        </Hs_Transsmartadjustment>
    </modules>
    <global>
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Hs_Transsmartadjustment_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <transsmartadjustment>
                <class>Hs_Transsmartadjustment_Helper</class>
            </transsmartadjustment>
            <shipping>
                <rewrite>
                    <shipment>Hs_Transsmartadjustment_Helper_Shipment</shipment>
                </rewrite>
            </shipping>
        </helpers>
        <models>
            <transsmartadjustment>
                <class>Hs_Transsmartadjustment_Model</class>
                <resourceModel>transsmartadjustment_mysql4</resourceModel>
            </transsmartadjustment>
            <sales>
                <rewrite>
                    <shipping_shipping_carrier_tablerate>Hs_Transsmartadjustment_Model_Sales_Shipping_Shipping_Carrier_Tablerate</shipping_shipping_carrier_tablerate>
                </rewrite>
            </sales>
        </models>
    </global>
    <admin>
        <routers>
            <transsmartadjustment>
                <use>admin</use>
                <args>
                    <module>Hs_Transsmartadjustment</module>
                    <frontName>admin_sales</frontName>
                </args>
            </transsmartadjustment>
        </routers>
    </admin>
</config> 