<?xml version="1.0"?>
<config>
	<sections>
		<gfeedconfiguration translate="label" module="gfeed">
			<label>General Feed Configuration</label>
			<tab>helios</tab>
			<frontend_type>text</frontend_type>
			<sort_order>10</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<pricesetup>
					<label>Price Setup for Bol.com</label>
					<frontend_type>text</frontend_type>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<pricecalc translate="label">
							<label>Price Setup</label>
							<frontend_model>gfeed/config_pricecalculation</frontend_model>
							<backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
							<sort_order>0</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Configure Price Calculation</comment>
						</pricecalc>
					</fields>
				</pricesetup>
			</groups>
		</gfeedconfiguration>
	</sections>
</config>
