<?xml version="1.0"?>
<config>
    <modules>
        <Hs_Banner>
            <version>0.1.0</version>
        </Hs_Banner>
    </modules>
    <global>
        <helpers>
            <banner>
                <class>Hs_Banner_Helper</class>
            </banner>
        </helpers>
        <blocks>
            <banner>
                <class>Hs_Banner_Block</class>
            </banner>
        </blocks>
        <models>
            <banner>
                <class>Hs_Banner_Model</class>
                <resourceModel>banner_mysql4</resourceModel>
            </banner>
            <bannercategory>
                <class>Hs_Banner_Model</class>
                <resourceModel>banner_mysql4</resourceModel>
            </bannercategory>
            <banner_mysql4>
                <class>Hs_Banner_Model_Mysql4</class>
                <entities>
                    <banner>
                        <table>hs_banner</table>
                    </banner>
                    <bannercategory>
                        <table>hs_banner_category</table>
                    </bannercategory>
                </entities>
            </banner_mysql4>
        </models>
        <resources>
            <banner_setup>
                <setup>
                    <module>Hs_Banner</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </banner_setup>
            <banner_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </banner_write>
            <banner_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </banner_read>
        </resources>
    </global>
    <admin>
        <routers>
            <banner>
                <use>admin</use>
                <args>
                    <module>Hs_Banner</module>
                    <frontName>admin_banner</frontName>
                </args>
            </banner>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <cms>
                <children>
                    <banner module="banner">
                        <title>Manage Banner</title>
                        <sort_order>45</sort_order>
                        <action>admin_banner/adminhtml_banner</action>
                    </banner>
                </children>
            </cms>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <banner>
                                            <title>Manage Banner</title>
                                        </banner>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <banner>
                    <file>banner.xml</file>
                </banner>
            </updates>
        </layout>
    </adminhtml>
</config> 