<?xml version="1.0"?>
<config>
    <modules>
        <Xelcomm_MavisRestApi>
            <version>0.1.0</version>
        </Xelcomm_MavisRestApi>
    </modules>
    <global>
        <helpers>
            <Xelcomm_MavisRestApi>
                <class>Xelcomm_MavisRestApi_Helper</class>
            </Xelcomm_MavisRestApi>
        </helpers>        
    </global>    
</config> 