<?xml version="1.0"?>
<config>
	<modules>
		<Jaagers_Myapi>
    		<version>0.1.1</version>
		</Jaagers_Myapi>
	</modules>
	  
	<global>
		<helpers>
            <attributeinfo>
                <class>Jaagers_Myapi_Helper</class>
            </attributeinfo>
        </helpers>
		<models>
        	<jaagers_myapi>
            	<class>Jaagers_Myapi_Model</class>
    		</jaagers_myapi>
		</models>
	</global> 
</config>