<?xml version="1.0"?>
<config>
  <modules>
    <Helios_Allowfile>
      <version>0.1.0</version>
    </Helios_Allowfile>
  </modules>
  <global>
    <helpers>
      <allowfile>
        <class>Helios_Allowfile_Helper</class>
      </allowfile>
    </helpers>
	<models>
	  <allowfile>
		<class>Helios_Allowfile_Model</class>
		<resourceModel>allowfile_mysql4</resourceModel>
	  </allowfile>
			<core>
				<rewrite>
					<file_validator_image>Helios_Allowfile_Model_Core_File_Validator_Image</file_validator_image>
				</rewrite>
			</core>
	</models>
  </global>
  <adminhtml>
		<cms>
		  <browser>
			<extensions>
			  <allowed>
				<jpg>1</jpg>
				<jpeg>1</jpeg>
				<png>1</png>
				<gif>1</gif>
				<pdf>1</pdf>
			  </allowed>
			</extensions>
		  </browser>
		</cms>
	</adminhtml>
</config> 