<?xml version="1.0"?>
<config>
    <modules>
        <Helios_Cart>
            <version>0.1.0</version>
        </Helios_Cart>
    </modules>
    <global>
        <models>
            <cart>
                <class>Helios_Cart_Model</class>
                <resourceModel>cart_mysql4</resourceModel>
            </cart>
        </models>
        <events>
            <!--checkout_cart_product_add_after>
                <observers>
                    <checkout_cart_product_add_after_handler>
                        <type>model</type>
                        <class>cart/observer</class>
                        <method>checkoutCartProductAddAfter</method>
                        <args></args>
                    </checkout_cart_product_add_after_handler>
                </observers>
            </checkout_cart_product_add_after-->
            <checkout_cart_save_before>
                <observers>
                    <checkout_cart_product_add_before_handler>
                        <type>model</type>
                        <class>cart/observer</class>
                        <method>checkoutCartProductAddBefore</method>
                        <args></args>
                    </checkout_cart_product_add_before_handler>
                </observers>
            </checkout_cart_save_before>
            <customer_logout>
                <observers>
                    <helios_customerlogout_customer_Observer>
                        <type>singleton</type>
                        <class>cart/observer</class>
                        <method>CustomerLogoutEvent</method>
                    </helios_customerlogout_customer_Observer>
                </observers>
            </customer_logout>
            <customer_login>
                <observers>
                    <helios_customerlogout_customer_Observer>
                        <type>singleton</type>
                        <class>cart/observer</class>
                        <method>CustomerLogInEvent</method>
                    </helios_customerlogout_customer_Observer>
                </observers>
            </customer_login>
        </events>
    </global>
</config> 