<?xml version="1.0"?>
<config>
  <modules>
    <Jaagers_Extraklantattributen>
      <version>0.1.0</version>
    </Jaagers_Extraklantattributen>
  </modules>
  <global>
    <helpers>
      <extraklantattributen>
        <class>Jaagers_Extraklantattributen_Helper</class>
      </extraklantattributen>
    </helpers>
	<models>
	  <extraklantattributen>
		<class>Jaagers_Extraklantattributen_Model</class>
		<resourceModel>extraklantattributen_mysql4</resourceModel>
	  </extraklantattributen>
	</models>
	<resources>
	  <customerattribute1384166344_setup>
		<setup>
		  <module>Jaagers_Extraklantattributen</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerattribute1384166344_setup>
	  <customerattribute1384166344_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerattribute1384166344_write>
	  <customerattribute1384166344_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerattribute1384166344_read>
	</resources>
  </global>
</config> 