<?xml version="1.0"?>
<config>
    <modules>
        <Hs_Sales>
            <version>1.0.0</version>
        </Hs_Sales>
    </modules>

    <global>
        <resources>
            <hssales_setup>
                <setup>
                    <module>Hs_Sales</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </hssales_setup>
        </resources>
        <blocks>
            <hs_sales>
                <class>Hs_Sales_Block</class>
            </hs_sales>
        </blocks>
        <models>
            <hs_sales>
                <class>Hs_Sales_Model</class>
            </hs_sales>
        </models>
        <helpers>
            <hs_sales>
                <class>Hs_Sales_Helper</class>
            </hs_sales>
        </helpers>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <prijsfactor/>
                        <tansmission/>
                        <dhlservicepunt/>
                        <verkoopeenheid/>
                        <afwijkenidealeverpakking/>
                        <idealeverpakking/>
                    </product_attributes>
                </item>
            </quote>
        </sales>
    </global>

    <frontend>
        <routers>
            <hssales>
                <use>standard</use>
                <args>
                    <module>Hs_Sales</module>
                    <frontName>hssales</frontName>
                </args>
            </hssales>
        </routers>
    </frontend>
</config>
