<?xml version="1.0"?>
<config>
 
    <modules>
        <Jaagers_Debug>
            <version>1.0.0</version>
        </Jaagers_Debug>
    </modules>
 
    <global>
 
        <helpers>
            <debug>
                <class>Jaagers_Debug_Helper</class>
            </debug>
        </helpers> 
 
    </global>
 
</config>