<?xml version="1.0"?>
<config>
	<modules>
		<Jaagers_Attributes>
    		<version>0.1.0</version>
		</Jaagers_Attributes>
	</modules>
	  
	<global>

		<models>
        	<jaagers_attributes>
            	<class>Jaagers_Attributes_Model</class>
    		</jaagers_attributes>
		</models>   

	</global> 
</config> 