*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --lightdark-purple: #323584;
    --light-purple: #323584;
    --white: #ffffff;
    --dark-grey: #0b121b;
    --shadow: #323584bf;
    --thead: #eaeaf2;
    --bg-darkpurple: #323584;
    --btn-purple: #4549b5;
}

@font-face {
    font-family: poppins-semibold;
    src: url(../css/font/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: poppins-regular;
    src: url(../css/font/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppins-medium;
    src: url(../css/font/Poppins-Medium.ttf);
}

@font-face {
    font-family: poppins-light;
    src: url(../css/font/Poppins-Light.ttf);
}

@font-face {
    font-family: poppins-extralight;
    src: url(../css/font/Poppins-ExtraLight.ttf);
}

@font-face {
    font-family: poppins-thin;
    src: url(../css/font/Poppins-Thin.ttf);
}

@font-face {
    font-family: agency-bold;
    src: url(../css/font/AGENCYB.TTF);
}

body {
    font-family: poppins-regular;
    background-repeat: no-repeat;
}

ul {
    list-style: none;
}

.btn {
    border-radius: 5px;
    line-height: 1.3;
    padding-right: 20px;
    white-space: nowrap;
    font-size: 13px;
    font-family: poppins-light;
    margin: 0 7.5px;
}

i {
    width: 16px;
}

.btn-purple {
    background: #4549b5;
    color: #ffffff;
    font-family: poppins-light;
    transition: box-shadow 0.2s;
}

.btn-purple:hover {
    color: #ffffff;
    background-color: #323584;
}

.btn-purple:focus {
    box-shadow: 0 0 0 4px #3235856e;
    background-color: #323584;
}

.btn-purple i,
.btn-danger i {
    margin: 0 6px 0 0;
}

#gif {
    width: 200px;
    display: block;
}

.sidebar-wrapper {
    background: #323584;
    width: 65px;
    height: calc(100% - 30px);
    margin: 15px 10px 15px 15px;
    padding: 20px 0;
    border-radius: 13px;
    box-shadow: 0 2px 15px #323584bf;
    z-index: 2;
    font-size: 14px;
    white-space: nowrap;
    transition: all 0.3s, position 0.2s;
    top: 0px;
}

.slid_border {
    top: 4px;
}

.slider-white {
    top: 65px;
    width: 15px;
    cursor: pointer;
    right: 0px;
    z-index: 100;
    animation: slider-white 0.6s 1;
    transform-origin: 100% 50%;
}

.slider-blue {
    top: 65px;
    width: 15px;
    cursor: pointer;
    right: 1px;
    z-index: 100;
    transform-origin: 100% 50%;
    animation: slider-blue 0.6s 1;
    transform: rotate(180deg);
}

@keyframes slider-blue {
    0% {
        transform: rotate(180deg) scale(0);
    }

    100% {
        transform: rotate(180deg) scale(1);
    }
}

@keyframes slider-white {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

aside .navbar {
    height: 65px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0px);
}

aside a.navbar-brand {
    display: block;
    margin: auto;
}

aside .navbar-brand img {
    display: block;
    margin: auto;
    padding-bottom: 16px;
}

aside .navbar,
aside .navbar-brand {
    padding: 0;
    margin: 0;
}

.brand-sm {
    width: 18px;
}

.brand-bg {
    width: 205px;
}

.category {
    padding: 20px 20px 18px 25px;
    white-space: nowrap;
}

.category span {
    padding: 0px 12.8px;
    color: #ffffff;
}

.category img {
    width: 16px;
}

.nav-menu {
    margin: 10px -10px 0px -10px;
    transition: margin 0.3s;
    border-radius: 0px;
    background: #c2c3e0;
}

.nav-menu .nav-link span {
    padding: 0px 8px;
}

ul#nav-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #32358430;
}

.nav-menu .nav-link img[src$='.svg'] {
    width: 13px;
}

.nav-menu .nav-item {
    display: flex;
    flex-direction: column;
    position: relative;
    width: auto;
}

.nav-menu>.nav-item:first-child {
    margin-left: 10px;
}

.nav-menu .nav-item .nav-item {
    padding: 0;
}

.nav-menu>.nav-item.active a:not(.sub-menu a) {
    background: #e1e1f0;
    color: #323584;
}

.nav-menu .nav-item.parent>.nav-link.open {
    box-shadow: 2px 2px 0px #00013a33, 4px 1px 3px #3a3d9930;
    transition: background 0s, border-radius 0.3s, box-shadow 0.2s;
    background: #e1e1f0;
}

.nav-menu .nav-item .nav-link {
    font-size: 11px;
    font-weight: 500;
    font-family: 'poppins-light';
    position: relative;
    padding: 5px 10px;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    height: 30px;
}

.nav-menu .nav-item .nav-link:hover {
    background-color: #ffffff80;
}

.nav-menu .nav-item>.nav-link {
    transition: background 0.7s, border-radius 0.2s 0.2s;
}

.nav-menu>.nav-item>.nav-link {
    color: #323584;
    font-weight: 800;
}

.nav-menu .nav-item.parent>.nav-link:after {
    content: "";
    position: relative;
    top: 0;
    left: 3px;
    width: 8px;
    height: 8px;
    background-image: url(../css/svg/play_btn_blue.svg);
    background-repeat: no-repeat;
    transition: 0.3s;
    transform-origin: 25% 50%;
    z-index: 2;
    display: inline-block;
}

.nav-menu .nav-item.parent>.nav-link.open:after {
    transform: rotate(90deg);
}

.nav-menu .sub-menu {
    top: 26px;
    display: none;
    border-radius: 0px 3px 3px 3px;
    position: absolute;
    background: #e1e1f0;
    z-index: 9;
    box-shadow: 2px 2px 0px #00013a33, 5px 4px 5px #3a3d9930;
}

.nav-menu .sub-menu .nav-item {
    width: 100%;
    margin: 0px;
}

.nav-menu .sub-menu .nav-item:first-child {
    padding-top: 5px !important;
}

.nav-menu .sub-menu .nav-item:last-child {
    padding-bottom: 5px !important;
}

.nav-menu .sub-menu .nav-link {
    position: relative;
    color: #323584;
    font-family: 'poppins-medium';
    margin: 3px 10px;
    padding: 4px 10px 4px 24px;
    border-radius: 4px;
    white-space: nowrap;
}

.nav-menu .sub-menu .nav-link::before {
    content: "";
    background-image: url(../css/svg/page-blue.svg);
    width: 9px;
    height: 11px;
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translate(0%, -50%);
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 100;
}

.nav-menu .sub-menu .nav-link:focus {
    background: #c2c3e0;
}

.nav-menu .sub-menu .nav-link:hover {
    background: #c2c3e0;
}

.nav-menu .sub-menu .nav-item.active a {
    background: #c2c3e0;
}

.sidebar-toggle {
    background: #323584;
    width: 320px;
    height: calc(100% - 30px);
    margin: 15px 10px 15px 15px;
    padding: 20px 0;
    border-radius: 13px;
    box-shadow: 0 2px 15px #323584bf;
    z-index: 2;
    font-size: 14px;
    transition: all 0.3s, position 0.2s;
    top: 0px;
}

section.content-wrapper {
    position: relative;
    overflow: hidden;
    width: calc(100% - 110px);
    height: calc(100vh - 30px);
    margin: 15px 15px 15px 10px;
    padding: 0 10px;
    border-radius: 13px;
    box-shadow: 0 2px 20px #bfbfbfa1;
    margin-left: 95px;
    transition: all 0.3s, height 0s;
}

.content-toggle {
    position: relative;
    overflow: hidden;
    width: calc(100% - 365px);
    height: calc(100vh - 30px);
    margin: 15px 15px 15px 10px;
    padding: 0 10px;
    border-radius: 13px;
    box-shadow: 0 2px 20px #bfbfbfa1;
    margin-left: 350px;
    transition: all 0.3s, height 0s;
}

.header {
    background: #c2c3e0;
    width: calc(100%);
    margin: 10px 0px;
    height: 50px;
    border-radius: 8px;
    z-index: 50;
}

.header div {
    display: flex;
    align-items: center;
    align-content: center;
    height: 100%;
}

.header img {
    width: 22px;
}

.header span {
    font-size: 16px;
    margin-left: 12px;
    margin-right: 5px;
    font-weight: 500;
    color: #323584;
}

.header .admin img {
    width: 35px;
    height: 35px;
}

.header .admin a {
    text-decoration: none;
}

.header .admin a span{
    padding-right: 10px;
}

.datatable .dataTables_filter,
.datatable .dataTables_length {
  display: none;
}
.table-filter {
  margin-bottom: 10px;
  margin-right: -15px;
}
.table-filter div {
  font-size: 11px;
  margin-right: 15px;
}
.table-filter div img {
  margin-right: 6px;
  width: 5px;
}
.table-filter div span.bold,
.table-filter div label.bold {
  font-weight: bold;
}
div.select-opt select {
  color: #080808bf;
  padding: 1px 0;
}
div.select-opt select,
div.inner-addon input {
  outline: none;
  border: 0.25px solid #32358540;
  background: var(--thead);
  border-radius: 3px;
  transition: 0.2s;
}
div.inner-addon {
  position: relative;
  margin-left: auto;
  font-size: 11px;
}
div.inner-addon input {
  box-sizing: content-box;
  padding: 2px 5px 2px 20px;
  width: 100px;
}
div.inner-addon input::placeholder {
  color: #323585b2;
  padding: 5px 0;
  transition: 0.4s;
  font-weight: bold;
}
div.inner-addon img {
  box-sizing: content-box;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding-left: 5px;
  width: 10px;
  margin: 0;
}
div.select-opt select:focus,
div.inner-addon input:focus {
  border: 0.25px solid transparent;
  background: #e9e9f198;
  box-shadow: 0 0 0 2px #3235856c;
}

#data-content {
    height: calc(100% - 213px);
    transition: all 0.3s;
}

.data-wrapper {
    width: calc(100% - 130px);
}

/* Pagination css override */
#data-content > div:nth-child(2) {
  position: fixed;
  width: calc(100% - 110px);
  height: 40px;
  bottom: 16.8px;
  transition: 0.3s;
}
.data-toggle#data-content > div:nth-child(2) {
  width: calc(100% - 365px);
  transition: 0.3s;
}
#data-content .col-md-5,
#data-content .col-md-7 {
  display: flex;
  width: 50%;
  align-items: center;
  padding: 0;
}
#data-content .col-md-5 {
  justify-content: flex-start;
  padding: 0 0 0 15px;
  color: #4d4d4d;
  font-size: 10px;
  font-family: poppins-medium;
}
#data-content .col-md-7 {
  justify-content: flex-end;
}
ul.pagination {
  margin: 0;
  padding: 0;
}
ul.pagination .page-item {
  margin: 5px;
  border: none;
  outline: none;
}
ul.pagination .page-item .page-link {
  border-radius: 6px;
  border: none;
  color: #323584;
  font-size: 12px;
  font-family: poppins-medium;
  transition: all 0.2s;
  background-color: transparent;
}
ul.pagination .page-item.active .page-link {
  background: #323585;
  color: #ffffff;
}
ul.pagination .page-item .page-link:focus {
  box-shadow: 0 0 0 4px #4043b06c;
}
ul.pagination .page-item .page-link:active,
ul.pagination .page-item.previous .page-link:active,
ul.pagination .page-item.next .page-link:active {
  box-shadow: none;
  background: transparent;
}
ul.pagination .page-item:not(.page-item.active) .page-link:hover {
  background: #32358542;
  transition: all 0.3s;
}

/* Filter Datatable Settings CSS  */
#filter-content {
  position: fixed;
  display: block;
  top: 0px;
  right: 0px;
  z-index: 999999999;
  width: 500px;
  margin: 15px;
  height: calc(100% - 30px);
  backface-visibility: hidden;
  font-family: poppins-medium;
  font-size: 10px;
  transition: transform 0.7s cubic-bezier(0.1, 0.5, 0.2, 1);
}
/* Filter With Javascript Toggle Animation */
.filter-wrapper {
  transform: translateX(calc(100% + 15px));
}
/* Filter With Javascript Toggle Animation End*/
#filter-content .content-wrapper {
  position: relative;
  height: 100%;
  box-shadow: -2px 3px 14px 2px #0000003d;
  padding: 50px 0;
  border-radius: 13px;
  background-color: #ffffff;
  overflow: auto;
}
.cog {
  display: block;
  position: absolute;
  width: 52px;
  height: 42px;
  line-height: 40px;
  background-color: var(--lightdark-purple);
  padding-left: 8px;
  color: var(--primary-color-text);
  top: 150px;
  left: -52px;
  z-index: 10;
  cursor: pointer;
  border-radius: 5px 0 0 5px;
  box-shadow: 0 5px 10px -2px #00000080;
}
.cog img {
  width: 30px;
  line-height: inherit;
  cursor: pointer;
  transition: transform 1s;
  transform: rotate(90deg);
}
.cog-toggle {
  display: block;
  position: absolute;
  width: 52px;
  height: 42px;
  line-height: 40px;
  background-color: var(--lightdark-purple);
  padding-left: 8px;
  color: var(--primary-color-text);
  top: 150px;
  left: -52px;
  z-index: 10;
  cursor: pointer;
  border-radius: 5px 0 0 5px;
  box-shadow: 0 5px 10px -2px #00000080;
}
.cog-toggle img {
  width: 30px;
  line-height: inherit;
  cursor: pointer;
  transition: transform 1s;
  transform: rotate(-90deg);
}
#filter-content .card {
  border: none;
  margin-bottom: 25px;
}
#filter-content .card .hl-title {
  margin-bottom: 15px;
  margin-right: 30px;
  display: flex;
  align-items: center;
}
#filter-content .card .hl-title span {
  display: inline-block;
}
#filter-content .card span[class^="border"] {
  width: 6px;
  height: 20px;
  background: var(--lightdark-purple);
  border-radius: 0 3px 3px 0;
}
#filter-content .card .average-popup {
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: 15px;
  display: inline-block;
  color: #ffffff;
  background: var(--lightdark-purple);
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  text-decoration: none;
  font-family: agency-bold;
  font-size: 16px;
}
#filter-content .card .title {
  font-size: 20px;
  padding-left: 20px;
  font-family: poppins-regular;
}
#filter-content .card .data {
  margin: 0 25px;
  padding: 14px 10px;
  background: #32358512;
  border-radius: 4px;
  display: inline-block;
}
#filter-content .card .data .average {
  display: inline-flex;
  width: 48%;
  margin-bottom: 12.5px;
  padding-right: 10px;
}
#filter-content .card .data .average:last-child {
  margin-bottom: 0;
}
#filter-content .card .data .average:nth-child(even) {
  padding-right: 0;
}
#filter-content .card .data .average span:nth-child(2) {
  margin-left: auto;
  font-family: poppins-light;
}
#filter-content .card .data-perfomance label {
  display: flex;
  align-items: center;
  align-content: center;
  cursor: pointer;
  padding-bottom: 12.5px;
  width: 50%;
}
#filter-content .card .data-perfomance a.reset-pm {
  display: block;
  position: absolute;
  bottom: 12px;
  right: 15px;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 5px 0 #0000003d;
}
#filter-content .card .data-perfomance a.reset-pm img {
  width: 13px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#filter-content .card .data-select {
  display: flex;
}
#filter-content .card .data-price {
  align-items: center;
  justify-content: space-between;
}
#filter-content .card .data-select label {
  margin-bottom: 12.5px;
  padding: 0;
  display: flex;
  align-items: center;
}
#filter-content .card .data-select label span {
  padding-left: 10px;
}
#filter-content .card .data-select label:last-child,
#filter-content .card .data-select label:nth-last-child(2) {
  margin-bottom: 0px;
}

.data-toggle {
    width: calc(100% - 385px);
}

.fl-width .content-toggle {
    width: calc(100% - 25px);
    margin: 15px 15px 15px 15px;
}

.fl-width #data-content {
    height: calc(100% - 185px);
    transition: all 0.3s;
    position: relative !important;
    width: 100%;
}

.fl-width .nav-menu .sub-menu {
    z-index: 99999999;
}

.datatable::-webkit-scrollbar {
    height: 13px;
    width: 14px;
}

.datatable::-webkit-scrollbar-track {
    background: #cecfe9;
    border-radius: 6px;
}

.datatable::-webkit-scrollbar-thumb {
    background-color: #3e4288;
    border-radius: 10px;
    border: 2.5px solid #cecfe9;
}