<?xml version="1.0"?>
<config>
	<modules>
		<Helios_Creports>
			<version>0.1.0</version>
		</Helios_Creports>
	</modules>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<creports before="Mage_Adminhtml">Helios_Creports_Adminhtml</creports>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<creports module="Helios_Creports">
					<file>helios/creports.xml</file>
				</creports>
			</updates>
		</layout>
	</adminhtml>
	<global>
		<blocks>
			<creports>
				<class>Helios_Creports_Block</class>
			</creports>
		</blocks>
		<helpers>
			<creports>
				<class>Helios_Creports_Helper</class>
			</creports>
		</helpers>
		<models>
			<creports>
				<class>Helios_Creports_Model</class>
				<resourceModel>creports</resourceModel>
			</creports>
		</models>
		<resources>
			<creports_setup>
				<setup>
					<module>Helios_Creports</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</creports_setup>
			<creports_write>
				<connection>
					<use>core_write</use>
				</connection>
			</creports_write>
			<creports_read>
				<connection>
					<use>core_read</use>
				</connection>
			</creports_read>
		</resources>
	</global>
</config>