<?xml version="1.0"?>
<config>
  <modules>
   <Helios_Customerfaq>
      <version>0.1.0</version>
    </Helios_Customerfaq>
  </modules>
  <frontend>
    <routers>
      <customerfaq>
        <use>standard</use>
          <args>
            <module>Helios_Customerfaq</module>
            <frontName>customerfaq</frontName>
          </args>
      </customerfaq>
    </routers>
		<layout>
		  <updates>
			<customerfaq>
			  <file>customerfaq.xml</file>
			</customerfaq>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <customerfaq>
        <class>Helios_Customerfaq_Helper</class>
      </customerfaq>
    </helpers>
	<blocks>
	  <customerfaq>
		<class>Helios_Customerfaq_Block</class>
	  </customerfaq>
	</blocks>
	<models>
	  <customerfaq>
		<class>Helios_Customerfaq_Model</class>
		<resourceModel>customerfaq_mysql4</resourceModel>
	  </customerfaq>
	  <customerfaq_mysql4>
		<class>Helios_Customerfaq_Model_Mysql4</class>
		<entities>		  
			  <customerfaq>
				<table>customerfaq</table>
			  </customerfaq>
        </entities>
	  </customerfaq_mysql4>
	</models>
	<resources>
	  <customerfaq_setup>
		<setup>
		  <module>Helios_Customerfaq</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerfaq_setup>
	  <customerfaq_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerfaq_write>
	  <customerfaq_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerfaq_read>
	</resources>
	<template>
		<email>
			<custom_faq >
				<label>Custom Faq module</label>
				<file>custom_faq.html</file>
				<type>html</type>
			</custom_faq>
		</email>
	</template>
 </global>
  <admin>
	<routers>
	  <customerfaq>
	    <use>admin</use>
		<args>
		  <module>Helios_Customerfaq</module>
		  <frontName>admin_customerfaq</frontName>
		</args>
	  </customerfaq>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <customerfaq module="customerfaq">
		<title>Customerfaq</title>
		<sort_order>100</sort_order>
		<children>
		  <customerfaq module="customerfaq">
		    <title>Manage Customerfaq</title>
			<sort_order>0</sort_order>
			<action>admin_customerfaq/adminhtml_customerfaq</action>
		  </customerfaq>
		</children>
	  </customerfaq>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<customerfaq translate="title" module="customerfaq">
			  <title>Customerfaq</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <customerfaq translate="title">
			<title>Manage Customerfaq</title>
			<sort_order>0</sort_order>
		  </customerfaq>
			  </children>
			</customerfaq>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<customerfaq>
		  <file>customerfaq.xml</file>
		</customerfaq>
	  </updates>
	</layout>
  </adminhtml>
</config> 