<?xml version="1.0"?>
<config>
    <modules>
        <Hs_Multistepcheckout>
            <version>1.0.4</version>
        </Hs_Multistepcheckout>
    </modules>
    <admin>
        <routers>
            <multistepcheckout>
                <use>admin</use>
                <args>
                    <module>Hs_Multistepcheckout</module>
                    <frontName>multistepcheckout</frontName>
                </args>
            </multistepcheckout>
        </routers>
    </admin>
    <global>
        <sales>
            <quote>
                <totals>
                    <sdd>
                        <class>multistepcheckout/sales_quote_address_total_samedaydeliveryfee</class>
                        <!--<before>multifees</before>-->
                        <after>grand_total</after>
                    </sdd>
                </totals>
            </quote>
            <!--<order_invoice>-->
            <!--<totals>-->
            <!--<sdd>-->
            <!--<class>multistepcheckout/sales_order_invoice_total_samedaydeliveryfee</class>-->
            <!--</sdd>-->
            <!--</totals>-->
            <!--</order_invoice>-->
        </sales>
        <fieldsets>
            <sales_convert_quote_address>
                <sdd_amount>
                    <to_order>*</to_order>
                </sdd_amount>
                <base_sdd_amount>
                    <to_order>*</to_order>
                </base_sdd_amount>
            </sales_convert_quote_address>
            <!--<sales_convert_order>-->
            <!--<sdd_amount>-->
            <!--<to_invoice>*</to_invoice>-->
            <!--</sdd_amount>-->
            <!--<base_sdd_amount>-->
            <!--<to_invoice>*</to_invoice>-->
            <!--</base_sdd_amount>-->
            <!--</sales_convert_order>-->
            <customer_address>
                <company_type>
                    <to_quote_address>*</to_quote_address>
                </company_type>
                <btw_number>
                    <to_quote_address>*</to_quote_address>
                </btw_number>
                <referentie>
                    <to_quote_address>*</to_quote_address>
                </referentie>
                <mobile_no>
                    <to_quote_address>*</to_quote_address>
                </mobile_no>
            </customer_address>
        </fieldsets>
        <rewrite>
            <hs_multistepcheckout_customer_address_formPost>
                <from><![CDATA[#^/customer/address/formPost#]]></from>
                <to>/multistepcheckout/customer_address/formPost</to>
            </hs_multistepcheckout_customer_address_formPost>
        </rewrite>
        <models>
            <multistepcheckout>
                <class>Hs_Multistepcheckout_Model</class>
            </multistepcheckout>
        </models>
        <resources>
            <multistepcheckout_setup>
                <setup>
                    <module>Hs_Multistepcheckout</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </multistepcheckout_setup>
        </resources>
        <blocks>
            <multistepcheckout>
                <class>Hs_Multistepcheckout_Block</class>
            </multistepcheckout>
            <checkout>
                <rewrite>
                    <cart_item_renderer>Hs_Multistepcheckout_Block_Cart_Item_Renderer</cart_item_renderer>
                </rewrite>
            </checkout>
            <customer>
                <rewrite>
                    <address_edit>Hs_Multistepcheckout_Block_Customer_Address_Edit</address_edit>
                </rewrite>
            </customer>
        </blocks>
        <helpers>
            <multistepcheckout>
                <class>Hs_Multistepcheckout_Helper</class>
            </multistepcheckout>
            <checkout>
                <rewrite>
                    <url>Hs_Multistepcheckout_Helper_Url</url>
                </rewrite>
            </checkout>
        </helpers>
        <fieldsets>
            <sales_convert_quote>
                <expected_delivery_date>
                    <to_order>*</to_order>
                </expected_delivery_date>
            </sales_convert_quote>
        </fieldsets>
    </global>
    <frontend>
        <routers>
            <multistepcheckout>
                <use>standard</use>
                <args>
                    <module>Hs_Multistepcheckout</module>
                    <frontName>multistepcheckout</frontName>
                </args>
            </multistepcheckout>
        </routers>
        <layout>
            <updates>
                <multistepcheckout>
                    <file>multistepcheckout.xml</file>
                </multistepcheckout>
            </updates>
        </layout>
        <translate>
            <modules>
                <Hs_Multistepcheckout>
                    <files>
                        <default>Hs_Multistepcheckout.csv</default>
                    </files>
                </Hs_Multistepcheckout>
            </modules>
        </translate>
        <events>
            <sales_convert_quote_to_order>
                <observers>
                    <expected_deliverydate_observer>
                        <type>singleton</type>
                        <class>Hs_Multistepcheckout_Model_Observer</class>
                        <method>salesConvertQuoteToOrder</method>
                    </expected_deliverydate_observer>
                </observers>
            </sales_convert_quote_to_order>
            <sales_convert_quote_item_to_order_item>
                <observers>
                    <addbasecost_to_orderitem_observer>
                        <type>singleton</type>
                        <class>Hs_Multistepcheckout_Model_Observer</class>
                        <method>addBaseCostToOrderItem</method>
                    </addbasecost_to_orderitem_observer>
                </observers>
            </sales_convert_quote_item_to_order_item>
            <sales_order_place_after>
                <observers>
                    <addstoreid_to_orderitem_observer>
                        <type>singleton</type>
                        <class>Hs_Multistepcheckout_Model_Observer</class>
                        <method>addStoreIdToOrderItem</method>
                    </addstoreid_to_orderitem_observer>
                    <email_of_manual_product_observer>
                        <type>singleton</type>
                        <class>Hs_Multistepcheckout_Model_Observer</class>
                        <method>sendEmailForManualProduct</method>
                    </email_of_manual_product_observer>
                </observers>
            </sales_order_place_after>
            <!--<checkout_cart_product_add_after>-->
            <!--<observers>-->
            <!--<multishipping_to_addcart_observer>-->
            <!--<type>singleton</type>-->
            <!--<class>Hs_Multistepcheckout_Model_Observer</class>-->
            <!--<method>resetCheckoutStep</method>-->
            <!--</multishipping_to_addcart_observer>-->
            <!--</observers>-->
            <!--</checkout_cart_product_add_after>-->
            <!--<checkout_cart_product_update_after>-->
            <!--<observers>-->
            <!--<addstoreid_to_orderitem_observer>-->
            <!--<type>singleton</type>-->
            <!--<class>multistepcheckout/observer</class>-->
            <!--<method>resetCheckoutStep</method>-->
            <!--</addstoreid_to_orderitem_observer>-->
            <!--</observers>-->
            <!--</checkout_cart_product_update_after>-->
        </events>
    </frontend>
</config>