<?xml version="1.0"?>
<config>
    <modules>
        <Techtwo_SalesQuotes>
            <version>0.1.1</version>
        </Techtwo_SalesQuotes>
    </modules>
    <frontend>
        <routers>
            <salesquotes>
                <use>standard</use>
                <args>
                    <module>Techtwo_SalesQuotes</module>
                    <frontName>salesquotes</frontName>
                </args>
            </salesquotes>
        </routers>
        <layout>
            <updates>
                <techtwo_salesquotes module="Techtwo_SalesQuotes">
                    <file>salesquotes.xml</file>
                </techtwo_salesquotes>
            </updates>
        </layout>
        <translate>
            <modules>
                <Techtwo_SalesQuotes>
                    <files>
                        <default>Techtwo_SalesQuotes.csv</default>
                    </files>
                </Techtwo_SalesQuotes>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Techtwo_SalesQuotes before="Mage_Adminhtml">Techtwo_SalesQuotes_Adminhtml</Techtwo_SalesQuotes>
                    </modules>
                    <frontName>salesquotes</frontName>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Techtwo_SalesQuotes>
                    <files>
                        <default>Techtwo_SalesQuotes.csv</default>
                    </files>
                </Techtwo_SalesQuotes>
            </modules>
        </translate>
        <layout>
            <updates>
                <techtwo_salesquotes>
                    <file>salesquotes.xml</file>
                </techtwo_salesquotes>
            </updates>
        </layout>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <techtwo_salesquotes>
                                            <title>Quotes settings</title>
                                        </techtwo_salesquotes>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <menu>
            <sales>
                <children>
                    <salesquotes translate="title" module="techtwo_salesquotes">
                        <title>Quotes</title>
                        <action>adminhtml/salesquotes/</action>
                        <sort_order>20</sort_order>
                    </salesquotes>
                </children>
            </sales>
        </menu>
    </adminhtml>
    <global>
        <models>
            <techtwo_salesquotes>
                <class>Techtwo_SalesQuotes_Model</class>
                <resourceModel>techtwo_salesquotes_mysql4</resourceModel>
            </techtwo_salesquotes>
            <techtwo_salesquotes_mysql4>
                <class>Techtwo_SalesQuotes_Model_Mysql4</class>
            </techtwo_salesquotes_mysql4>
            <checkout>
                <rewrite>
                    <cart>Techtwo_SalesQuotes_Model_Cart</cart>
                </rewrite>
            </checkout>
        </models>
        <resources>
            <techtwo_salesquotes_setup>
                <setup>
                    <module>Techtwo_SalesQuotes</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </techtwo_salesquotes_setup>
            <techtwo_salesquotes_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </techtwo_salesquotes_write>
            <techtwo_salesquotes_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </techtwo_salesquotes_read>
        </resources>
        <blocks>
            <techtwo_salesquotes>
                <class>Techtwo_SalesQuotes_Block</class>
            </techtwo_salesquotes>
            <adminhtml>
                <rewrite>
                    <sales_order_create>Techtwo_SalesQuotes_Block_Adminhtml_Sales_Order_Create</sales_order_create>
                    <sales_order_create_header>Techtwo_SalesQuotes_Block_Adminhtml_Sales_Order_Create_Header</sales_order_create_header>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <techtwo_salesquotes>
                <class>Techtwo_SalesQuotes_Helper</class>
            </techtwo_salesquotes>
        </helpers>
        <events>
            <controller_action_predispatch_checkout_cart_index>
                <observers>
                    <techtwo_salesquotes>
                        <type>model</type>
                        <class>techtwo_salesquotes/observer</class>
                        <method>controller_action_predispatch_checkout_cart_index</method>
                    </techtwo_salesquotes>
                </observers>
            </controller_action_predispatch_checkout_cart_index>
            <controller_action_predispatch_checkout_index_index>
                <observers>
                    <techtwo_salesquotes>
                        <type>model</type>
                        <class>techtwo_salesquotes/observer</class>
                        <method>redirectToQuotePage</method>
                    </techtwo_salesquotes>
                </observers>
            </controller_action_predispatch_checkout_index_index>
            <controller_action_predispatch_checkout_multishipping_index>
                <observers>
                    <techtwo_salesquotes>
                        <type>model</type>
                        <class>techtwo_salesquotes/observer</class>
                        <method>redirectToQuotePage</method>
                    </techtwo_salesquotes>
                </observers>
            </controller_action_predispatch_checkout_multishipping_index>
            <controller_action_predispatch_adminhtml_sales_order_create_save>
                <observers>
                    <techtwo_salesquotes>
                        <type>model</type>
                        <class>techtwo_salesquotes/observer</class>
                        <method>changeQuoteStatusToPending</method>
                    </techtwo_salesquotes>
                </observers>
            </controller_action_predispatch_adminhtml_sales_order_create_save>
            <sales_convert_quote_to_order>
                <observers>
                    <techtwo_salesquotes>
                        <type>model</type>
                        <class>techtwo_salesquotes/observer</class>
                        <method>changeQuoteStatusToConverted</method>
                    </techtwo_salesquotes>
                </observers>
            </sales_convert_quote_to_order>
            <!--checkout_cart_product_add_after>
                <observers>
                    <techtwo_salesquotes>
                        <type>model</type>
                        <class>techtwo_salesquotes/observer</class>
                        <method>cartProductAddAfter</method>
                    </techtwo_salesquotes>
                </observers>
            </checkout_cart_product_add_after-->
        </events>
        <template>
            <email>
                <sales_email_quote_template translate="label" module="techtwo_salesquotes">
                    <label>New Quote</label>
                    <file>sales/quote_new.html</file>
                    <type>html</type>
                </sales_email_quote_template>
                <sales_email_quote_thankyou translate="label" module="techtwo_salesquotes">
                    <label>New Quote Thankyou</label>
                    <file>sales/quote_thankyou.html</file>
                    <type>html</type>
                </sales_email_quote_thankyou>
                <sales_email_quote_notification translate="label" module="techtwo_salesquotes">
                    <label>New Quote Notification</label>
                    <file>sales/quote_notification.html</file>
                    <type>html</type>
                </sales_email_quote_notification>
            </email>
        </template>
        <fieldsets>
            <sales_convert_quote_item>
                <unit_qty>
                    <to_order_item>*</to_order_item>
                </unit_qty>
                <sales_unit>
                    <to_order_item>*</to_order_item>
                </sales_unit>
            </sales_convert_quote_item>
            <sales_convert_order_item>
                <unit_qty>
                    <to_quote_item>*</to_quote_item>
                </unit_qty>
                <sales_unit>
                    <to_quote_item>*</to_quote_item>
                </sales_unit>
            </sales_convert_order_item>
        </fieldsets>
    </global>
    <default>
        <sales_email>
            <quote>
                <template>sales_email_quote_template</template>
            </quote>
            <quote_thankyou>
                <template>sales_email_quote_thankyou</template>
            </quote_thankyou>
            <quote_notification>
                <template>sales_email_quote_notification</template>
            </quote_notification>
        </sales_email>
    </default>
</config>
