<?xml version="1.0"?>
<config>
    <modules>
        <Scommerce_GDPR>
            <version>0.0.11</version>
        </Scommerce_GDPR>
    </modules>
    <frontend>
		<translate>
            <modules>
                <Scommerce_GDPR>
                    <files>
                        <default>Scommerce_GDPR.csv</default>
                    </files>
                </Scommerce_GDPR>
            </modules>
        </translate>
        <layout>
            <updates>
                <scommerce_gdpr>
                    <file>scommerce/gdpr.xml</file>
                </scommerce_gdpr>
            </updates>
        </layout>
        <routers>
            <scommerce_gdpr>
                <use>standard</use>
                <args>
                    <module>Scommerce_GDPR</module>
                    <frontName>scommerce_gdpr</frontName>
                </args>
            </scommerce_gdpr>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <scommerce_gdpr before="Mage_Adminhtml">Scommerce_GDPR_Adminhtml</scommerce_gdpr>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
	<adminhtml>
		<translate>
            <modules>
                <Scommerce_GDPR>
                    <files>
                        <default>Scommerce_GDPR.csv</default>
                    </files>
                </Scommerce_GDPR>
            </modules>
        </translate>
		<events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <addMassaction>
                        <type>model</type>
                        <class>Scommerce_GDPR_Model_Observer</class>
                        <method>addMassaction</method>
                    </addMassaction>
                </observers>
            </core_block_abstract_prepare_layout_before>
		</events>
	</adminhtml>
    <global>
        <blocks>
            <scommerce_gdpr>
                <class>Scommerce_GDPR_Block</class>
            </scommerce_gdpr>
        </blocks>
        <models>
            <scommerce_gdpr>
                <class>Scommerce_GDPR_Model</class>
            </scommerce_gdpr>
        </models>
        <helpers>
            <scommerce_gdpr>
                <class>Scommerce_GDPR_Helper</class>
            </scommerce_gdpr>
        </helpers>
        <events>
            <adminhtml_widget_container_html_before>
                <observers>
                    <scommerce_gdpr_model_resource_observer>
                        <class>Scommerce_GDPR_Model_Observer</class>
                        <method>addButtons</method>
                    </scommerce_gdpr_model_resource_observer>
                </observers>
            </adminhtml_widget_container_html_before>
			<checkout_cart_save_before>
				<observers>
                    <scommerce_gdpr_checkout_cart_save_before>
                        <class>Scommerce_GDPR_Model_Observer</class>
                        <method>updateProcessedValue</method>
                    </scommerce_gdpr_checkout_cart_save_before>
                </observers>
			</checkout_cart_save_before>
			<model_save_before>
				<observers>
                    <scommerce_gdpr_newsletter_model_save_before>
                        <class>Scommerce_GDPR_Model_Observer</class>
                        <method>newsletterSaveBefore</method>
                    </scommerce_gdpr_newsletter_model_save_before>
                </observers>
			</model_save_before>
        </events>
        <template>
            <email>
                <scommerce_gdpr_configuration_confirmation_email_template translate="label" module="scommerce_gdpr">
                    <label>Scommerce GDPR Deletion Confirmation</label>
                    <file>scommerce/gdpr/confirmation.html</file>
                    <type>html</type>
                </scommerce_gdpr_configuration_confirmation_email_template>
                <scommerce_gdpr_configuration_delete_confirmation_email_template translate="label" module="scommerce_gdpr">
                    <label>Scommerce GDPR Deletion Success</label>
                    <file>scommerce/gdpr/successdeletion.html</file>
                    <type>html</type>
                </scommerce_gdpr_configuration_delete_confirmation_email_template>
            </email>
        </template>
        <resources>
            <scommerce_gdpr_setup>
                <setup>
                    <module>Scommerce_GDPR</module>
                </setup>
            </scommerce_gdpr_setup>
        </resources>
    </global>
    <crontab>
        <jobs>
            <scommerce_gdpr>
                <schedule>
                    <config_path>scommerce_gdpr/configuration/cron_schedule</config_path>
                </schedule>
                <run>
                    <model>scommerce_gdpr/cron::clear</model>
                </run>
            </scommerce_gdpr>
        </jobs>
    </crontab>
    <default>
        <scommerce_gdpr>
            <configuration>
                <enabled>1</enabled>
                <enable_cookie>1</enable_cookie>
				<delete_enabled_on_frontend>0</delete_enabled_on_frontend>
				<blocked>0</blocked>
				<blocked_id_or_class>.wrapper</blocked_id_or_class>
				<delete_enabled_on_frontend>0</delete_enabled_on_frontend>
                <attentionmessage>Please note - Once you have marked your data to be deleted or anonymised from our system then your data cannot be restored.</attentionmessage>
                <successmessage>Your account has been successfully deleted, and all order details have been anonymised.</successmessage>
                <cms_page>home</cms_page>
                <cookie_message>We use cookies on this website to improve your shopping experience. We use cookies to remember log-in details and provide secure log-in, collect statistics to optimize site functionality, and deliver content tailored to your interests. Click accept to give your consent to accept cookies and go directly to the site or click on more information to see detailed descriptions of the types of cookies we store.</cookie_message>
                <cookie_link_text>Click here to learn about cookie settings.</cookie_link_text>
                <cron_schedule>5 * * * *</cron_schedule>
                <cookie_link_color>F90</cookie_link_color>
                <cookie_text_color>FFF8C7</cookie_text_color>
                <cookie_background_color>333</cookie_background_color>
				<cookie_message_position>1</cookie_message_position>													
                <quote_expire>30</quote_expire>
            </configuration>
        </scommerce_gdpr>
    </default>
</config>