<?xml version="1.0"?>
<config>
  <modules>
    <Helios_Categoryattribute>
      <version>0.1.3</version>
    </Helios_Categoryattribute>
  </modules>
  <global>
    <helpers>
      <categoryattribute>
        <class>Helios_Categoryattribute_Helper</class>
      </categoryattribute>
    </helpers>
	<models>
	  <categoryattribute>
		<class>Helios_Categoryattribute_Model</class>
		<resourceModel>categoryattribute_mysql4</resourceModel>
	  </categoryattribute>
	</models>
	<resources>
	  <categoryattribute1432616578_setup>
		<setup>
		  <module>Helios_Categoryattribute</module>
		  <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </categoryattribute1432616578_setup>
	  <categoryattribute1432616578_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </categoryattribute1432616578_write>
	  <categoryattribute1432616578_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </categoryattribute1432616578_read>
	</resources>
  </global>
</config> 