<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Hs_Achterafbetalen>
            <version>1.0.1</version>
        </Hs_Achterafbetalen>
    </modules>
    <global>
        <models>
            <achterafbetalen>
                <class>Hs_Achterafbetalen_Model</class>
            </achterafbetalen>
        </models>
        <resources>
            <achterafbetalen_setup>
                <setup>
                    <module>Hs_Achterafbetalen</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </achterafbetalen_setup>
        </resources>
        <helpers>
            <achterafbetalen>
                <class>Hs_Achterafbetalen_Helper</class>
            </achterafbetalen>
        </helpers>
        <blocks>
            <achterafbetalen>
                <class>Hs_Achterafbetalen_Block</class>
            </achterafbetalen>
        </blocks>
        <fieldsets>
            <sales_convert_quote_payment>
                <account_no>
                    <to_order_payment>*</to_order_payment>
                </account_no>
                <mobile_no>
                    <to_order_payment>*</to_order_payment>
                </mobile_no>
                <dob>
                    <to_order_payment>*</to_order_payment>
                </dob>
            </sales_convert_quote_payment>
        </fieldsets>
        <events>
            <sales_order_payment_place_end>
                <observers>
                    <afterbeatlean>
                        <type>singleton</type>
                        <class>achterafbetalen/observer</class>
                        <method>sales_order_payment_place_end</method>
                    </afterbeatlean>
                </observers>
            </sales_order_payment_place_end>
            <sales_order_place_before>
                <observers>
                    <afterbeatlean>
                        <type>singleton</type>
                        <class>achterafbetalen/observer</class>
                        <method>sales_order_place_before</method>
                    </afterbeatlean>
                </observers>
            </sales_order_place_before>
            <custom_quote_process>
                <observers>
                    <afterbeatlean>
                        <type>singleton</type>
                        <class>achterafbetalen/observer</class>
                        <method>custom_quote_process</method>
                    </afterbeatlean>
                </observers>
            </custom_quote_process>
            <sales_order_save_after>
                <observers>
                    <afterbeatlean>
                        <type>singleton</type>
                        <class>achterafbetalen/observer</class>
                        <method>custom_order_status</method>
                    </afterbeatlean>
                </observers>
            </sales_order_save_after>
        </events>
    </global>
    <default>
        <payment>
            <achterafbetalen>
                <model>achterafbetalen/standard</model> <!--// very important thing, here you select the model for your payment method -->
                <active>0</active>
                <order_status>pending</order_status>
                <title>Achterafbetalen</title>
                <!--<payment_action>sale</payment_action>-->
                <submit_url>https://someurl.com</submit_url>
                <merchant_id>Insert merchant id</merchant_id>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
            </achterafbetalen>
        </payment>
    </default>
    <frontend>
        <routers>
            <achterafbetalen>
                <use>standard</use>
                <args>
                    <module>Hs_Achterafbetalen</module>
                    <frontName>achterafbetalen</frontName>
                </args>
            </achterafbetalen>
        </routers>
    </frontend>
</config>